@media only screen and (max-width: 688px) {
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    .fwc-header{
        display: flex;
        flex-direction: column;
        width: 90%;
        height: 100%;
        border-radius: 30px;
        background-color: #000000;
        padding: 28px 53px;
        justify-content: center;
        align-items: center;
        margin-bottom: 0px;

    }
    
    .fwc-header-content{
        width: 100%;
        text-align: center;

    }
    
    .fwc-header-h1{
        font-weight: 700;
        font-size: 22px;
        line-height: 33px;
        text-align: center;
        color: #FFFFFF;
        margin-bottom: 20px;
    }
    
    .fwc-header-p{
        margin-bottom: 50px;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        text-align: center;
        color: rgba(255, 255, 255, 0.8);
    }
    
    .fwc-header-a{
        text-decoration: none;
        color: #FFFFFF;
        padding: 4px 5px;
        font-size: 15px;
        line-height: 13.46px;
        background: #DD0000;
        border-radius: 5px;
        margin-bottom: 21px;

    }
    
    .fwc-header-img{
        width: 100%;
    }

    .fwc-header-img img {
        width: 100%;
        position: relative;
        bottom: -34px;
        left: 17px;
        animation-name: example;
        animation-duration: 4s;
    }
      @keyframes example {
        0%   {left: 50px; bottom: -34px;}
        25%  {left: -50px; bottom: -34px;}
        50%  {left: 50px; bottom: -34px;}
        100% {left: 17px; bottom: -34px;}
      }
    


    /* Section Content Started */


    .fwc-content-section{
        width: 90%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .fwc-section-toggle-btn{
        margin: 24px 20px 24px 0px;
        padding: 30px 30px;
        display: flex;
        flex-direction: column;
        background: #FFFFFF;
        border-radius: 10px;
        justify-content: space-between;
        
    }
    
    .fwc-section-toggle-btn a{
        text-decoration: none;
        padding: 10px 5px;
        margin: 5px;
        font-weight: 500;
        font-size: 15px;
        line-height: 30px;
        text-align: center;
        background: #FFFFFF;
        border-radius: 10px;
        border: 1px solid #000000;
        color: #000000;
    }

    .fwc-btn{
        width: 90%;
        margin: 50px auto;
        text-align: center;
    
    
    }
    .fwc-btn a{
        text-decoration: none;
        padding: 10px 30px;
        background-color: #ff0000;
        color: #FFFFFF;
        font-weight: 500;
        font-size: 15px;
        line-height: 30px;
        text-align: center;
        border-radius: 10px;
        border: 1px solid #161616;
        display: none;
    }

    
    .fwc-section-content{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        column-gap: 20px;
        row-gap: 24px;
        width: 100%;
    }
    


    /* ------------
    Footer Started 
    --------------*/
    .fwc-footer{
        margin-top: 25px;
        padding: 24px;
    }
   .fwc-footer-menu ul{
    display: flex;
    flex-direction: column;
   }
   .fwc-footer-menu ul li {
    list-style: none;
    margin:10px 0px;
    color: #B9B9B9;
}

}